footer{
  .wrapper{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    background: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    justify-content: center;
    p{
      color: #494949;
      display: flex;
      align-items: center;
      svg{
        margin: 0 .5rem;
      }
    }
  }
}