.header{
  position: relative;
  overflow: hidden;
  //background-color: #0f4583;
  
  .header-content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include phone{
      width: 100%;
    }
    @include tablet{
      width: 100%;
    }
    @include desktop{
      width: 100%;
    }
    @include largedesktop{
      width: 100%;
    }
    @include biglargedesktop{
      width: 1200px;
    }
    a{
      color: #f9f9f9;
      text-decoration: none;
      outline: none;
    }

    .logo{
      padding: 1rem 0;
      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        h4{
          font-size: 1.5rem;
          font-weight: 500;
          margin: .5rem 0;
          @include phone{
            font-size: 1.5rem;
          }
          @include tablet{
            font-size: 2rem;
          }
          @include desktop{
            font-size: 3rem;
          }
          @include largedesktop{
            font-size: 3rem;
          }
          @include biglargedesktop{
            font-size: 3rem;
          }
        }
      }
    }
    .nav{
      display: flex;
      width: 100%;
      justify-content: center;
      &.nav-list{

      }
      ul{
        display: flex;
        justify-content: space-around;
        width: 100%;
        background: #FFF;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        li{
          width: 100%;
          transition: .2s linear 0s;
          a{
            display: flex;
            justify-content: center;
            color: #474747;
            text-decoration: none;
            outline: none;
            h4{
              font-weight: 300;
            }
          }
          &.selected{
            border-bottom: 2px solid #0f4583;
            a{
              color: #0f4583;
              h4{
                
                font-weight: 500;
              }
            }
          }
          &:hover{
            background: #f7f7f7;
          }
        }
      }
    }
  }
}