.head-titles{
  font-size: 2.3rem;
  font-weight: 400;
  color: #474747;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #f9f9f9;
  padding: 2rem;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid #dee2e6;
  @include phone{
    width: 100%;
  }
  @include tablet{
    width: 100%;
  }
  @include desktop{
    width: 100%;
  }
  @include largedesktop{
    width: 100%;
  }
  @include biglargedesktop{
    width: 1200px;
  }
  svg{
    margin-left: .5rem;
  }
  &.fixed-content{
    margin: 17.8rem auto 0;
    @include phone{
      margin: 17.8rem auto 0;
    }
    @include tablet{
      margin: 17.8rem auto 0;
    }
    @include desktop{
      margin: 17.8rem auto 0;
    }
    @include largedesktop{
      margin: 17.8rem auto 0;
    }
    @include biglargedesktop{
      margin: 8.8rem auto 0;
    }
  }
}
.main{
  padding: 0 0 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .viewbys{
    display: none;
    width: 100%;
    margin: 0 auto;
    background: white;
    transition: all ease-out 300ms;
    @include phone{
      display: none;
      width: 100%;
    }
    @include tablet{
      display: none;
      width: 100%;
    }
    @include desktop{
      display: flex;
      width: 100%;
    }
    @include largedesktop{
      display: flex;
      width: 100%;
    }
    @include biglargedesktop{
      display: flex;
      width: 1200px;
    }
    &.fixedView{
      position: fixed;
      left: 0;
      right: 0;
      top: 15.4rem;
      z-index: 9;
      box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
      @include phone{
        top: 15.4rem;
      }
      @include tablet{
        top: 15.4rem;
      }
      @include desktop{
        top: 15.4rem;
      }
      @include largedesktop{
        top: 15.4rem;
      }
      @include biglargedesktop{
        top: 6.5rem;
      }
      .gotoGroup{
        margin: 0;
      }
    }
    .gotoGroup{
      display: flex;
      padding: 1rem;
      margin-top: 1rem;
      border-bottom: 1px solid #dee2e6;
      border-top: 1px solid #dee2e6;
      justify-content: space-around;
      list-style: none;
      width: 100%;
      background: white;
      li{
        a{
          text-decoration: none;
          outline: none;
          color: #494949;
          &:hover{
            color: #0f4583;
          }
          &.active{
            color: #0f4583;
            font-weight: 500;
          }
        }
      }
    }
  }
  .all-matches{
    background: #FFF;
    width: 100%;
    margin: 0;
    border-radius: 0px;
    padding: 2rem 10px;
    display: flex;
    flex-direction: column;
    //border-top: 1px solid #dee2e6;
    //box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
    @include phone{
      width: 100%;
      margin: 0;
      padding: 2rem 10px;
    }
    @include tablet{
      width: 100%;
      margin: 0;
      padding: 2rem 10px;
    }
    @include desktop{
      width: 100%;
      margin: 0;
      padding: 2rem 10px;
    }
    @include largedesktop{
      width: 100%;
      margin: 0;
      padding: 2rem 1rem;
    }
    @include biglargedesktop{
      width: 1200px;
      margin: 0 auto;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: 2rem 1rem;
    }
    &.fixed-padding{
      padding: 8rem 1rem 2rem;
    }
    .group-list{
      padding: 3rem 0;
    }
    .matches-selection{
      padding: 1rem;
      .nav{
        border: none;
        .nav-item{
          padding: .5rem;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          border: none;
          color: #495057;
          border-bottom: 2px solid transparent;
          &.active{
            color: #0f4583;
            border-bottom: 2px solid #0f4583;
          }
        }
      }
    }
    .tab-content{
      padding: 0;
      @include phone{
        padding: 0;
      }
      @include tablet{
        padding: 0;
      }
      @include desktop{
        padding: 0;
      }
      @include largedesktop{
        padding: 0 1rem;
      }
      @include biglargedesktop{
        padding: 0 1rem;
      }
      #accordion{
        .card{
          .contents{
            margin-right: 0;
            position: relative;
            height: auto;
            @include phone{
              margin-right: 0;
            }
            @include tablet{
              margin-right: 0;
            }
            @include desktop{
              margin-right: 0;
            }
            @include largedesktop{
              margin-right: 370px;
            }
            @include biglargedesktop{
              margin-right: 370px;
            }
            .team-a{
              width: 37%;
              display: table-cell;
              ul{
                list-style: none;
                margin-right: -30px;
                width: 50%;
                li{
                  display: flex;
                  align-items: center;
                  padding-bottom: .5rem;
                  img{
                    margin-left: 1rem;
                    width: 16px;
                  }
                  span{
                    font-size: .9rem;
                  }
                }
              }
            }
            .team-b{
              @include position(absolute, 0px 0 0 0px);
              width: 50%;
              display: table-cell;
              ul{
                list-style: none;
                margin-right: -39px;
                li{
                  display: flex;
                  align-items: center;
                  padding-bottom: .5rem;
                  img{
                    margin-left: 1rem;
                    width: 16px;
                  }
                  span{
                    font-size: .9rem;
                  }
                }
              }
            }
          }
          .matches-date{
            font-size: 1.2rem;
            line-height: 50px;
            height: 50px;
            padding-right: 10px;
            border-bottom: solid 1px #474747;
            color: #474747;
            font-weight: 500;
          }
          .card-header{
            border-bottom: 1px solid #dcdcdc;
            cursor: pointer;
            .row{
              position: relative;
              font-size: 12px;
              line-height: 19px;
              //transition: 100ms linear 0s;
              transition: .3s transform ease-in-out;
              min-height: 83px;
              padding: .5rem;
              border-radius: 5px;
              //margin-bottom: .5rem;
              &:hover{
                background-color: rgba(0, 0, 0, 0.03);
              }
              .info{
                width: 380px;
                min-height: 80px;
                text-align: right;
                float: none;
                @include phone{
                  float: none;
                }
                @include tablet{
                  float: none;
                }
                @include desktop{
                  float: none;
                }
                @include largedesktop{
                  float: right;
                }
                @include biglargedesktop{
                  float: right;
                }
                h5,h6{
                  margin: 0;
                  font-size: 1rem;
                  line-height: 26px;
                  color: #474747;
                  font-weight: 400;
                }
                h5:first-child{
                  font-size: .8rem;
                  font-weight: 300;
                }
                h5:nth-child(2){
                  font-weight: bold;
                }
              }
              .content{
                margin-right: 0;
                position: relative;
                height: 7.5rem;
                @include phone{
                  margin-right: 0;
                }
                @include tablet{
                  margin-right: 0;
                }
                @include desktop{
                  margin-right: 0;
                }
                @include largedesktop{
                  margin-right: 370px;
                }
                @include biglargedesktop{
                  margin-right: 370px;
                }
                .team-a{
                  img{
                    position: absolute;
                    right: 0;
                    top: 2rem;
                    width: 53px;
                    @include phone{
                      top: 2rem;
                      width: 53px;
                    }
                    @include tablet{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include desktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include largedesktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include biglargedesktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                  }
                  span{
                    position: absolute;
                    right: 5rem;
                    top: 2.2rem;
                    font-size: 1rem;
                    @include phone{
                      right: 5rem;
                      font-size: 1rem;
                      top: 2.2rem;
                    }
                    @include tablet{
                      right: 6rem;
                      font-size: 1rem;
                      top: 2.9rem;
                    }
                    @include desktop{
                      right: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                    @include largedesktop{
                      right: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                    @include biglargedesktop{
                      right: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                  }
                }
                .points{
                  text-align: center;
                  width: 100%;
                  position: absolute;
                  top: 2.2rem;
                  @include phone{
                    top: 2.2rem;
                  }
                  @include tablet{
                    top: 2.9rem;
                  }
                  @include desktop{
                    top: 2.9rem;
                  }
                  @include largedesktop{
                    top: 2.9rem;
                  }
                  @include biglargedesktop{
                    top: 2.9rem;
                  }
                  span{
                    font-size: 1rem;
                    line-height: 26px;
                    color: #dd4606;
                    @include phone{
                      font-size: 1rem;
                    }
                    @include tablet{
                      font-size: 1rem;
                    }
                    @include desktop{
                      font-size: 27px;
                    }
                    @include largedesktop{
                      font-size: 27px;
                    }
                    @include biglargedesktop{
                      font-size: 27px;
                    }
                  }
                }
                .team-b{
                  span{
                    position: absolute;
                    left: 5rem;
                    top: 2.2rem;
                    font-size: 1rem;
                    @include phone{
                      left: 5rem;
                      font-size: 1rem;
                      top: 2.2rem;
                    }
                    @include tablet{
                      left: 6rem;
                      font-size: 1rem;
                      top: 2.9rem;
                    }
                    @include desktop{
                      left: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                    @include largedesktop{
                      left: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                    @include biglargedesktop{
                      left: 6rem;
                      font-size: 2rem;
                      top: 2.9rem;
                    }
                  }
                  img{
                    position: absolute;
                    left: 0;
                    top: 2rem;
                    width: 53px;
                    @include phone{
                      top: 2rem;
                      width: 53px;
                    }
                    @include tablet{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include desktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include largedesktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                    @include biglargedesktop{
                      top: 2.5rem;
                      width: 70px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .stadium{
      display: flex;
      padding: 0 10px;
      margin-bottom: 1rem;
      flex-direction: column;
      @include phone{
        flex-direction: column;
      }
      @include tablet{
        flex-direction: column;
      }
      @include desktop{
        flex-direction: column;
      }
      @include largedesktop{
        flex-direction: row;
      }
      @include biglargedesktop{
        flex-direction: row;
      }
      .info{
        float: right;
        width: 100%;
        padding-top: 3rem;
        padding-bottom: 1rem;
        @include phone{
          width: 100%;
        }
        @include tablet{
          width: 100%;
        }
        @include desktop{
          width: 100%;
        }
        @include largedesktop{
          width: 35%;
        }
        @include biglargedesktop{
          width: 35%;
        }
        h2{
          font-size: 1.5rem;
          line-height: 4rem;
          font-weight: 400;
          margin: 0;
          color: #474747;
        }
        h5{
          @extend h2;
          font-size: 1.2rem;
          line-height: 2.5rem;
        }
      }
      .img{
        float: right;
        width: 100%;;

        @include phone{
          width: 100%;
        }
        @include tablet{
          width: 100%;
        }
        @include desktop{
          width: 100%;
        }
        @include largedesktop{
          width: 65%;
        }
        @include biglargedesktop{
          width: 65%;
        }
        img{
          width: 100%;
        }
      }
    }
    .team{
      padding: 0 10px;
      margin-bottom: 1rem;
      .heads{
        float: right;
        width: 100%;
        transition: 100ms linear 0s;
        @include phone{
          width: 100%;
        }
        @include tablet{
          width: 100%;
        }
        @include desktop{
          width: 50%;
        }
        @include largedesktop{
          width: 25%;
        }
        @include biglargedesktop{
          width: 25%;
        }
        &:hover{
          background-color: rgba(0, 0, 0, 0.03);
        }
        h4{
          font-size: 1.5rem;
          line-height: 14px;
          vertical-align: middle;
          height: 30px;
          text-align: center;
          font-weight: normal;
        }
        .lists{
          list-style: none;
          li{
            height: 70px;
            position: relative;
            img{
              position: absolute;
              right: 0;
              top: 0;
              width: 60px;
              margin: 7px 10px;
              //border: 1px solid #F5F5F5;
            }
            span{
              font-size: 1.5rem;
              line-height: 14px;
              vertical-align: middle;
              display: table-cell;
              padding-right: 90px;
              height: 44px;
            }
          }
        }
      }
    }
    .host{
      padding-bottom: 1rem;
      //border-bottom: 1px solid #f5f5f5;
      h4{
        font-size: 1.2rem;
        line-height: 50px;
        height: 50px;
        padding-right: 10px;
        border-bottom: 1px solid #474747;
        color: #474747;
        font-weight: 400;
      }
      p{
        font-size: 1.2rem;
        font-weight: 300;
        margin-right: 1rem;
      }
      .host-team{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        @include phone{
          justify-content: center;
        }
        @include tablet{
          justify-content: center;
        }
        @include desktop{
          justify-content: flex-start;
        }
        @include largedesktop{
          justify-content: flex-start;
        }
        @include biglargedesktop{
         justify-content: flex-start;
        }
        li{
          display: flex;
          align-items: center;
          margin-left: 2rem;
          img{
            margin-right: 1rem;
          }
          h3{
            font-size: 1.5rem;
            font-weight: 300;
          }
          .rusflag{
           // border: 1px solid #f5f5f5;
           width: 70px;
          }
        }
      }
    }
    .groups{
      display: table;
      direction: rtl;
      margin: 0 auto;
      width: 100%;
      padding: 1rem 0;
      outline: none;
      h4{
        text-align: right;
        font-size: .8rem;
        line-height: 1.54;
        font-weight: 700;
        margin: 0;
        padding: 1rem 0 0;
        color: #494949;
        @include phone{
          font-size: .8rem;
        }
        @include tablet{
          font-size: 1rem;
        }
        @include desktop{
          font-size: 1.3875rem;
        }
        @include largedesktop{
          font-size: 1.3875rem;
        }
        @include biglargedesktop{
          font-size: 1.3875rem;
        }
      }
      .head{
        vertical-align: middle;
        display: table-row;
        h4{
          display: table-cell;
          border-bottom: 1px solid #494949;
          padding: 8px 1.6px;
          padding: .5rem .1rem;
          font-weight: 300;
          width: 40px;
          text-align: center;
          &:first-child{
            text-align: right;
            width: 120px;
          }
        }
      }
      .rows{
        display: table-row;
        transition: 100ms linear 0s;
        &:hover{
            background-color: rgba(0, 0, 0, 0.03);
          }
        div{
          display: table-cell;
          vertical-align: middle;
          padding: 8px 1.6px;
          padding: .5rem .1rem;
          text-align: center;
          border-bottom: 1px solid #DCDCDC;
          &:first-child{
            text-align: right;
            position: relative;
            //display: block;
            img{
              position: relative;
              //top: 3px;
              margin-left: 1.5rem;
              width: 32px;
              //border: 1px solid #F5F5F5;
              @include phone{
                margin-left: 1.5rem;
                width: 32px;
              }
              @include tablet{
                margin-left: 0;
                width: 70px;
              }
              @include desktop{
                margin-left: 0;
                width: 70px;
              }
              @include largedesktop{
                margin-left: 0;
                width: 70px;
              }
              @include biglargedesktop{
                margin-left: 0;
                width: 70px;
              }
            }
            span{
              position: absolute;
              top: 9px;
              right: 36px;
              font-size: 0.7rem;
              @include phone{
                top: 9px;
                right: 36px;
                font-size: 0.7rem;
              }
              @include tablet{
                top: 5px;
                right: 90px;
                font-size: 1.5rem;
              }
              @include desktop{
                top: 5px;
                right: 90px;
                font-size: 1.6875rem;
              }
              @include largedesktop{
                top: 5px;
                right: 90px;
                font-size: 1.6875rem;
              }
              @include biglargedesktop{
                top: 5px;
                right: 90px;
                font-size: 1.6875rem;
              }
            }
          }
        }
      }
    }
    .link{
      width: 100%;
      direction: ltr;
      padding: .5rem 0 0 0rem;
      @include phone{
        padding: .5rem 0 0 0rem;
      }
      @include tablet{
        padding: .5rem 0 0 0rem;
      }
      @include desktop{
        padding: .5rem 0 0 0rem;
      }
      @include largedesktop{
        padding: .5rem 0 0 0rem;
      }
      @include biglargedesktop{
        padding: .5rem 0 0 0rem;
      }
      .details{
        text-decoration: none;
        direction: rtl;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 38px;
        line-height: 38px;
        background-color: #0f4583;
        color: #FFF;
        width: 100%;
        cursor: pointer;
        border-radius: 4px;
        font-weight: normal;
        font-size: 1.2rem;
        transition: 100ms linear 0s;
        position: relative;
        padding: 0 10px;
        @include phone{
          width: 100%;
          padding: 0 10px;
          justify-content: space-between;
        }
        @include tablet{
          width: 100%;
          padding: 0 10px;
          justify-content: space-between;
        }
        @include desktop{
          width: 10.5rem;
          padding: 0 10px 0 0;
          justify-content: flex-start;
        }
        @include largedesktop{
          width: 10.5rem;
          padding: 0 10px 0 0;
          justify-content: flex-start;
        }
        @include biglargedesktop{
          width: 10.5rem;
          padding: 0 10px 0 0;
          justify-content: flex-start;
        }
        &:hover{
          background-color: lighten(#0f4583 , 10%);
        }
        svg{
          fill: #FFF;
          width: 18px;
          margin-right: .5rem;
        }
      }
    }
    .bracketTable{
      margin-top: 40px;
      .row-wrapper{
        display: flex;
        justify-content: space-around;
        &.row-eight{
          margin: 0 -0.7%;
        }
        &.row-quarter{
          .row-body{
            .row-content{
              &:before{
                width: 105%;
                top: -20px;
                height: 10px;
                border: 2px solid currentColor;
                border-top: none;
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
              }
              &::after{
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                bottom: 100%;
                height: 10px;
                background: currentColor;
              }
            }
          }
        }
        &.row-semi{
          .row-body{
            .row-content{
              &:before{
                width: 213%;
                top: -20px;
                height: 10px;
                border: 2px solid currentColor;
                border-top: none;
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
              }
              &::after{
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                bottom: 100%;
                height: 10px;
                background: currentColor;
              }
            }
          }
        }
        &.row-final{
          position: relative;
          .row-body{
            
            &:first-child{
              position: absolute;
              left: 2%;
              top: 50%;
              transform: translateY(-50%);
              margin: 0;
            }
            &.row-body-final{
              width: 33%;
              .row-content{
                &::after{
                  width: 2px;
                  height: 20px;
                  background: currentColor;
                  content: '';
                  position: absolute;
                  color: #d9d9d9;
                  left: 50%;
                  transform: translateX(-50%);
                  top: 100%;
                  bottom: auto;
                }
                &::before{
                  width: 2px;
                  bottom: 100%;
                  height: 20px;
                  background: currentColor;
                  content: '';
                  position: absolute;
                  color: #d9d9d9;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
            }
            
          }
        }
        &.row-semi-after{
          .row-body{
            .row-content{
              &:before{
                width: 213%;
                height: 10px;
                border: 2px solid currentColor;
                border-bottom: none;
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                bottom: -20px;
                top: auto;
              }
              &::after{
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                top: 100%;
                height: 10px;
                background: currentColor;
              }
            }
          }
        }
        &.row-quarter-after{
          .row-body{
            .row-content{
              &:before{
                width: 105%;
                bottom: -20px;
                top: auto;
                height: 10px;
                border: 2px solid currentColor;
                border-bottom: none;
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
              }
              &::after{
                content: '';
                position: absolute;
                color: #d9d9d9;
                left: 50%;
                transform: translateX(-50%);
                width: 2px;
                top: 100%;
                height: 10px;
                background: currentColor;
              }
            }
          }
        }
        .row-body{
          width: 23.5%;
          .row-content{
            position: relative;
            background-color: #F3F3F3;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 5px;
            flex-wrap: wrap;
            text-align: center;
            margin: 10px 0;
            @include phone{
              padding: 1rem 5px;
            }
            @include tablet{
              padding: 1rem 5px;
            }
            @include desktop{
              padding: 2rem 16px;
            }
            @include largedesktop{
              padding: 2rem 16px;
            }
            @include biglargedesktop{
              padding: 2rem 16px;
            }
            .content-team{
              margin-top: 15px;
              width: 47%;
              display: block;
              text-align: center;
              padding: 0;
              position: relative;
              @include phone{
                width: 47%;
              }
              @include tablet{
                width: 47%;
              }
              @include desktop{
                width: auto;
              }
              @include largedesktop{
                width: auto;
              }
              @include biglargedesktop{
                width: auto;
              }
              div:first-child{
                max-width: 48px;
                margin: 0 auto;
                margin-bottom: 5px;
              }
              img{
                width: 48px;
              }
            }
            .content-date{
              order: 4;    
              width: 100%;
              font-size: 11px;
              margin-top: 0;
              @include phone{
                order: 4;    
                width: 100%;
                font-size: 11px;
                //margin-top: 0;
              }
              @include tablet{
                order: 4;    
                width: 100%;
                font-size: 11px;
                //margin-top: 0;
              }
              @include desktop{
                order: 0;    
                width: 33%;
                font-size: 11px;
                //margin-top: -25px;
              }
              @include largedesktop{
                order: 0;    
                width: 33%;
                font-size: 11px;
                //margin-top: -25px;
              }
              @include biglargedesktop{
                order: 0;    
                width: 33%;
                font-size: 11px;
                //margin-top: -25px;
              }
              div{
                &:nth-child(2){
                  font-weight: 600;
                  font-size: 1.2rem;
                  color: #dd4606;
                }
              }
            }
          }
        }
      }
    }
    .viewby{
      .nav-tabs{
        display: flex;
        padding: 1rem;
        margin-top: 1rem;
        border-bottom: 1px solid #dee2e6;
        border-top: 1px solid #dee2e6;
        .nav-item{
          width: 100%;
          text-align: center;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          color: #494949;
          padding: 1rem 0;
          text-decoration: none;
          outline: none;
          transition: 100ms linear 0s;
          font-size: .9rem;
          @include phone{
            font-size: .9rem;
          }
          @include tablet{
            font-size: .9rem;
          }
          @include desktop{
            font-size: 1rem;
          }
          @include largedesktop{
            font-size: 1rem;
          }
          @include biglargedesktop{
            font-size: 1rem;
          }
          &:hover{
            color: #dd4606;
            border: none;
            svg{
              fill: #dd4606;
            }
          }
          &.nav-link{
            border: none;
            transition: 100ms linear 0s;
            &.active{
              border: none;
              color: #dd4606;
              svg{
                fill: #dd4606;
              }
            }
          }
          svg{
            width: 20px;
            margin-left: .5rem;
            @include phone{
              margin-left: .5rem;
            }
            @include tablet{
              margin-left: .5rem;
            }
            @include desktop{
              margin-left: 2rem;
            }
            @include largedesktop{
              margin-left: 2rem;
            }
            @include biglargedesktop{
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }
  // .timeline{
  //   background: whitesmoke;
  //   width: 1200px;
  //   margin: 1rem auto;
  //   border-radius: 5px;
  //   .timeline-content{
  //     padding: 1rem;
  //     h4{
  //       color: #0f4583;
  //       font-size: 2rem;
  //       margin: 0;
  //       padding-right: 2rem;
  //       font-weight: 400;
  //     }
  //     .matchlist{
  //       border: 1px solid #9ec9e3;
  //       .nav-pills{
  //         height: 62px;
  //         padding-left: 1px;
  //         margin: 0;
  //         padding: 0;
  //         display: flex;
  //         li{
  //           text-align: center;
  //           margin: 0;
  //           background-color: #f2f2f2;
  //           height: 62px;
  //           position: relative;
  //           display: flex;
  //           flex-direction: column;
  //           &.small-cell{
  //             width: 3.125%;
  //           }
  //           &.restday{
  //             background-color: #fff;
  //             color: #ccc;
  //             .restday-wrap{
  //               padding: 0;
  //               background-color: #fff;
  //               display: block;
  //               height: 62px;
  //               //margin-left: -1px;
  //               .day-literal{
  //                 font-size: .7rem;
  //               }
  //               .day{
  //                 color: #ccc;
  //                 line-height: 15px;
  //                 margin-bottom: 6px;
  //               }
  //             }
  //           }
  //           &:last-child{
  //             &::after{
  //               display: none;
  //             }
  //             &::before{
  //               display: none;
  //             }
  //           }
  //           &::before{
  //             content: "";
  //             display: block;
  //             width: 1px;
  //             height: 30px;
  //             background-color: #9ec9e3;
  //             position: absolute;
  //             left: -1px;
  //             top: 7px;
  //             z-index: 1;
  //           }
  //           &::after{
  //             content: "";
  //             display: block;
  //             width: 1px;
  //             height: 14px;
  //             background-color: #d9d9d9;
  //             position: absolute;
  //             left: -1px;
  //             bottom: 3px;
  //             z-index: 1;
  //           }
  //           a{
  //             padding: 0;
  //             background-color: #fff;
  //             display: block;
  //             height: 62px;
  //             color: #0087e6;
  //             text-decoration: none;
  //             outline: none;
  //             //margin-left: -1px;

              
  //             .day-literal{
  //               font-size: .7rem;
  //             }
  //             .day{
  //               color: #666;
  //               line-height: 15px;
  //               margin-bottom: 6px;
  //             }
  //             .matchday-item{
  //               background-color: #f2f2f2;
  //               height: 20px;
  //               .match-dot-container{
  //                 line-height: 8px;
  //                 text-align: center;
  //                 &.matches-4{
  //                   padding: 5px 22% 0;
  //                   .match-dot{
  //                     margin-top: 0;
  //                   }
  //                 }
  //                 .match-dot{
  //                   color: #0087e6;
  //                   display: inline-block;
  //                   width: 7px;
  //                   height: 7px;
  //                   position: relative;
  //                   margin-top: 8px;
                    
  //                   &:before{
  //                     font-size: 16px;
  //                     content: "\2022";
  //                     display: block;
  //                     width: 7px;
  //                     height: 7px;
  //                     position: absolute;
  //                     top: 0;
  //                     left: 0;
  //                   }
  //                 }
  //               }
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}