--- 
layout: default
---
<section class="all-matches">
  <nav class="matches-selection">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link  active show" id="FirstStage" data-toggle="tab" href="#nav-FirstStage" role="tab" aria-controls="nav-FirstStage"
        aria-selected="true">مرحله گروهی</a>
      <a class="nav-item nav-link  " id="SecondStage" data-toggle="tab" href="#nav-SecondStage" role="tab" aria-controls="nav-SecondStage"
        aria-selected="false">مرحله حذفی</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade  active show" id="nav-FirstStage" role="tabpanel" aria-labelledby="FirstStage">
      <div id="accordion">
         {% for item in site.data.matches %} {% if item.level != 'secondstage' %}
        <div class="card">
          <h4 class="matches-date">{{ item.date }}</h4>
           {% for itm in item.groups %}
          <div class="card-header air" data-round1start="{{itm.round1start}}" id="{{itm.label}}">
            <div class="row btn btn-link collapsed" data-toggle="collapse" data-target="#{{ itm.id }}" aria-expanded="false" aria-controls="{{ itm.id }}">
              <article class="info">
                <h5>{{itm.dates}}</h5>
                <h5>{{ itm.group }}</h5>
                <h5>ورزشگاه {{ itm.stadium }}</h5>
                <h6>شهر {{ itm.city }}</h6>
              </article>
              <article class="content">
                <div class="team-a">
                  <img src="{{ site.url }}/{{ itm.flag1}}" alt="{{ itm.team1 }}">
                  <span>{{ itm.team1 }}</span>
                </div>
                <div class="points">
                   {% if itm.pts1 == 'zero' %}
                    <span>{{ itm.time }}</span> 
                    {% else %} 
                    <div class="timer" data-round1start="{{itm.round1start}}" data-round1total="{{itm.round1total}}" data-round2total="{{itm.round2total}}"></div>
                    <span>{{ itm.pts1 }} - {{ itm.pts2 }}</span>
                   {% endif %} 
                </div>
                <div class="team-b">
                  <span>{{ itm.team2 }}</span>
                  <img src="{{ site.url }}/{{ itm.flag2}}" alt="{{ itm.team2 }}">
                </div>
              </article>
            </div>
          </div>
           {% if itm.pts1 == 'zero' %} {% else %}
          <div id="{{ itm.id }}" class="contents collapse" aria-labelledby="{{itm.label}}" data-parent="#accordion" style="">
            <div class="team-a">
              <ul>
                {% if itm.pts1 == '۰' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/goal.png" alt="">
                  <span>{{ itm.goal1 }}</span>
                </li>
                {% endif %} {% if itm.yellow1 == '0' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                  <span>{{ itm.yellow1 }}</span>
                </li>
                {% endif %} {% if itm.red1 == '0' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                  <span>{{ itm.red1 }}</span>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="team-b">
              <ul>
                {% if itm.pts2 == '۰' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/goal.png" alt="">
                  <span>{{ itm.goal2 }}</span>
                </li>
                {% endif %} {% if itm.yellow2 == '0' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                  <span>{{ itm.yellow2 }}</span>
                </li>
                {% endif %} {% if itm.red2 == '0' %} {% else %}
                <li>
                  <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                  <span>{{ itm.red2 }}</span>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
          {% endif %}
           {% endfor %}
        </div>
         {% endif %} {% endfor %} 
      </div>
    </div>
    <div class="tab-pane fade " id="nav-SecondStage" role="tabpanel" aria-labelledby="SecondStage">
      <section class="viewby">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link  " id="ListView" data-toggle="tab" href="#nav-ListView" role="tab" aria-controls="nav-ListView"
            aria-selected="true">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 153 153" width="153px" >#
              <path  stroke="transparent" stroke-width="0" style="" d="M153 93.094V76.816H35.754V56.303h117.125V18.308l-.297-1.829h.297V.2H35.723v16.206l-19.438-.143V0H0v16.279h11.757v.051l23.967.175v23.851l-19.438-.143v-.31H0v16.28h16.285V40.314l19.438.143V77.245l-19.438-.143v-.287H0v16.278h16.285V77.2l19.438.142V116.143l-19.438-.142v-.281H0v16.279h16.285V116.1l19.438.143V132H153v-16.279H35.79V93.019l117.21.075zM39.017 16.53v-.05h113.556l.303 23.544H35.754V16.506l3.263.024z"
              />
            </svg>
            مشاهده بر اساس لیست</a>
          <a class="nav-item nav-link  active show" id="BracketView" data-toggle="tab" href="#nav-BracketView" role="tab" aria-controls="nav-BracketView"
            aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 142 142" width="142px" >#
              <path stroke="transparent" stroke-width="0" style="" d="M142 58.925h-40.741V20.432l-.521-.144h-7.394v-.05H55.678V0H0V55.016l.03-.003h47.02v-.05h8.629v-20.47h31.333v62.728H55.678V76.983H0V132l.03-.003h47.02v-.05h8.629v-20.47h37.665v-.031h7.915V73.179H142V58.925zM41.432 40.758H.03V14.282l3.256.024v-.05h38.146v26.502zm0 76.984H.03V91.265l3.256.024v-.05h38.146v26.503z"
              />
            </svg>
            مشاهده بر اساس نمودار حذفی</a>
        </div>
      </section>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-ListView" role="tabpanel" aria-labelledby="ListView">
          <div id="accordion">
            {% for item in site.data.matches %} {% if item.level == 'secondstage' %}
            <div class="card">
              <h4 class="matches-date">{{ item.date }}</h4>
              {% for itm in item.groups %}
              <div class="card-header" id="{{itm.label}}">
                <div class="row btn btn-link collapsed" data-toggle="collapse" data-target="#{{ itm.id }}" aria-expanded="false" aria-controls="{{ itm.id }}">
                  <article class="info">
                    <h5>{{itm.dates}}</h5>
                    <h5>{{ itm.group }}</h5>
                    <h5>ورزشگاه {{ itm.stadium }}</h5>
                    <h6>شهر {{ itm.city }}</h6>
                  </article>
                  <article class="content">
                    <div class="team-a">
                      <img src="{{ itm.flag1}}" alt="{{ itm.team1 }}">
                      <span>{{ itm.team1 }}</span>
                    </div>
                    <div class="points">
                       {% if itm.pts1 == 'zero' %}
                      <span>{{ itm.time }}</span>
                      {% else %}
                      <div class="timer" data-round1start="{{itm.round1start}}" data-round1total="{{itm.round1total}}" data-round2total="{{itm.round2total}}"></div>
                      <span>{{ itm.pts1 }} - {{ itm.pts2 }}</span>
                      {% endif %}
                    </div>
                    <div class="team-b">
                      <span>{{ itm.team2 }}</span>
                      <img src="{{ itm.flag2}}" alt="{{ itm.team2 }}">
                    </div>
                  </article>
                </div>
              </div>
              {% if itm.pts1 == 'zero' %} {% else %}
              <div id="{{ itm.id }}" class="contents collapse" aria-labelledby="{{itm.label}}" data-parent="#accordion" style="">
                <div class="team-a">
                  <ul>
                    {% if itm.pts1 == '۰' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/goal.png" alt="">
                      <span>{{ itm.goal1 }}</span>
                    </li>
                    {% endif %} {% if itm.yellow1 == '0' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                      <span>{{ itm.yellow1 }}</span>
                    </li>
                    {% endif %} {% if itm.red1 == '0' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                      <span>{{ itm.red1 }}</span>
                    </li>
                    {% endif %}
                  </ul>
                </div>
                <div class="team-b">
                  <ul>
                    {% if itm.pts2 == '۰' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/goal.png" alt="">
                      <span>{{ itm.goal2 }}</span>
                    </li>
                    {% endif %} {% if itm.yellow2 == '0' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/YellowCard.png" alt="">
                      <span>{{ itm.yellow2 }}</span>
                    </li>
                    {% endif %} {% if itm.red2 == '0' %} {% else %}
                    <li>
                      <img src="{{ site.url }}/assets/img/RedCard.png" alt="">
                      <span>{{ itm.red2 }}</span>
                    </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              {% endif %} {% endfor %}
            </div>
            {% endif %} {% endfor %}
          </div>
        </div>
        <div class="tab-pane fade active show" id="nav-BracketView" role="tabpanel" aria-labelledby="BracketView">
          <div class="bracketTable">
            <div class="row-wrapper row-eight">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div><img src="assets/img/flags/uru.png" alt=""></div>
                    <div>اروگوئه</div>
                  </div>
                  <div class="content-date">
                    <div>شنبه ۹ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div><img src="assets/img/flags/por.png" alt=""></div>
                    <div>پرتغال</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div><img src="assets/img/flags/fra.png" alt=""></div>
                    <div>فرانسه</div>
                  </div>
                  <div class="content-date">
                    <div>شنبه ۹ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div><img src="assets/img/flags/arg.png" alt=""></div>
                    <div>آرژانتین</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div><img src="assets/img/flags/blank.png" alt=""></div>
                    <div>1E</div>
                  </div>
                  <div class="content-date">
                    <div>دوشنبه ۱۱ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div><img src="assets/img/flags/mex.png" alt=""></div>
                    <div>مکزیک</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div><img src="assets/img/flags/blank.png" alt=""></div>
                    <div>1G</div>
                  </div>
                  <div class="content-date">
                    <div>دوشنبه ۱۱ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div><img src="assets/img/flags/blank.png" alt=""></div>
                    <div>2H</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-quarter">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W49</div>
                  </div>
                  <div class="content-date">
                    <div>جمعه ۱۵ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>يک چهارم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W50</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W53</div>
                  </div>
                  <div class="content-date">
                    <div>جمعه ۱۵ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک چهارم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W54</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-semi">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W57</div>
                  </div>
                  <div class="content-date">
                    <div>سه‌شنبه ۱۹ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>نیمه‌نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W58</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-final">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>L61</div>
                  </div>
                  <div class="content-date">
                    <div>شنبه ۲۳ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>رده‌بندی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>L62</div>
                  </div>
                </div>
              </div>
              <div class="row-body row-body-final">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W61</div>
                  </div>
                  <div class="content-date">
                    <div>یکشنبه ۲۴ تیر</div>
                    <div>۱۹:۳۰</div>
                    <div>فینال</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W62</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-semi-after">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W59</div>
                  </div>
                  <div class="content-date">
                    <div>چهارشنبه ۲۰ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>نیمه‌نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W60</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-quarter-after">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W51</div>
                  </div>
                  <div class="content-date">
                    <div>شنبه ۱۶ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک چهارم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W52</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W55</div>
                  </div>
                  <div class="content-date">
                    <div>شنبه ۱۶ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>يک چهارم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>W56</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row-wrapper row-eight-after">
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/esp.png" alt="">
                    </div>
                    <div>اسپانیا</div>
                  </div>
                  <div class="content-date">
                    <div>یکشنبه ۱۰ تیر</div>
                    <div>۱۸:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/rus.png" alt="">
                    </div>
                    <div>روسیه</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/cro.png" alt="">
                    </div>
                    <div>کرواسی</div>
                  </div>
                  <div class="content-date">
                    <div>یکشنبه ۱۰ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/den.png" alt="">
                    </div>
                    <div>دانمارک</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/swe.png" alt="">
                    </div>
                    <div>سوئد</div>
                  </div>
                  <div class="content-date">
                    <div>سه‌شنبه ۱۲ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>2E</div>
                  </div>
                </div>
              </div>
              <div class="row-body">
                <div class="row-content">
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>1H</div>
                  </div>
                  <div class="content-date">
                    <div>سه‌شنبه ۱۲ تیر</div>
                    <div>۲۲:۳۰</div>
                    <div>يک هشتم نهایی</div>
                  </div>
                  <div class="content-team">
                    <div>
                      <img src="assets/img/flags/blank.png" alt="">
                    </div>
                    <div>2G</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
