<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width, minimal-ui">
  <link href="{{ site.url }}/assets/css/style.min.css" rel="stylesheet">
  <meta property="og:url" content="http://fifawc.ir/">
  <meta property="og:title" content="FIFA World Cup Russia 2018 | جام جهانی روسیه ۲۰۱۸">
  <meta property="og:description" content="آخرین نتایج مسابقات در جام جهانی روسیه ۲۰۱۸ را می توانید از این وبسایت دنبال کنید.">
  <meta property="og:image" content="http://fifawc.ir/assets/img/FifaWorldCup.png">
</head>