@charset "UTF-8";
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/*
 * 320 - 480 device
 */
/*
   * 481 +
   */
/*
   * 768 +
   */
/*
   * 1000 +
   */
/*
   * 1300 +
   */
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

@-webkit-keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

html {
  font-size: 85%;
  direction: rtl; }

body {
  font: 400 1em/1.6 IRANSans;
  color: #292929;
  background: url(../img/darkbg.png) repeat;
  background-color: #0f4583; }

body, html {
  overflow-x: hidden; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

img {
  height: auto;
  max-width: 100%;
  display: block; }

.header {
  position: relative;
  overflow: hidden; }
  .header .header-content {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .header .header-content a {
      color: #f9f9f9;
      text-decoration: none;
      outline: none; }
    .header .header-content .logo {
      padding: 1rem 0; }
      .header .header-content .logo a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .header-content .logo a h4 {
          font-size: 3rem;
          font-weight: 500;
          margin: .5rem 0; }
    .header .header-content .nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header .header-content .nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width: 100%;
        background: #00000036;
        border-radius: 5px; }
        .header .header-content .nav ul li {
          width: 100%;
          -webkit-transition: .2s linear 0s;
          -o-transition: .2s linear 0s;
          transition: .2s linear 0s; }
          .header .header-content .nav ul li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            .header .header-content .nav ul li a h4 {
              font-weight: 300; }
          .header .header-content .nav ul li.selected {
            background: #0f3e7966; }
          .header .header-content .nav ul li:hover {
            background: #0f3e7966; }

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.main {
  padding: 1rem 0; }
  .main .all-matches {
    background: #FFF;
    width: 1200px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 2rem 1rem; }
    .main .all-matches .matches-selection {
      padding: 1rem; }
      .main .all-matches .matches-selection .nav {
        border: none; }
        .main .all-matches .matches-selection .nav .nav-item {
          padding: .5rem;
          text-decoration: none;
          font-size: 1rem;
          font-weight: 500;
          border: none;
          color: #495057;
          border-bottom: 2px solid transparent; }
          .main .all-matches .matches-selection .nav .nav-item.active {
            color: #0f4583;
            border-bottom: 2px solid #0f4583; }
    .main .all-matches .tab-content {
      padding: 0 1rem; }
      .main .all-matches .tab-content #accordion .card .contents {
        margin-right: 0;
        position: relative;
        height: auto; }
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          .main .all-matches .tab-content #accordion .card .contents {
            margin-right: 0; } }
        @media only screen and (min-width: 481.6px) {
          .main .all-matches .tab-content #accordion .card .contents {
            margin-right: 0; } }
        @media only screen and (min-width: 768px) {
          .main .all-matches .tab-content #accordion .card .contents {
            margin-right: 0; } }
        @media only screen and (min-width: 1000px) {
          .main .all-matches .tab-content #accordion .card .contents {
            margin-right: 370px; } }
        @media only screen and (min-width: 1300px) {
          .main .all-matches .tab-content #accordion .card .contents {
            margin-right: 370px; } }
        .main .all-matches .tab-content #accordion .card .contents .team-a {
          width: 37%;
          display: table-cell; }
          .main .all-matches .tab-content #accordion .card .contents .team-a ul {
            list-style: none;
            margin-right: -30px;
            width: 50%; }
            .main .all-matches .tab-content #accordion .card .contents .team-a ul li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding-bottom: .5rem; }
              .main .all-matches .tab-content #accordion .card .contents .team-a ul li img {
                margin-left: 1rem;
                width: 16px; }
              .main .all-matches .tab-content #accordion .card .contents .team-a ul li span {
                font-size: .9rem; }
        .main .all-matches .tab-content #accordion .card .contents .team-b {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 50%;
          display: table-cell; }
          .main .all-matches .tab-content #accordion .card .contents .team-b ul {
            list-style: none;
            margin-right: -39px; }
            .main .all-matches .tab-content #accordion .card .contents .team-b ul li {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              padding-bottom: .5rem; }
              .main .all-matches .tab-content #accordion .card .contents .team-b ul li img {
                margin-left: 1rem;
                width: 16px; }
              .main .all-matches .tab-content #accordion .card .contents .team-b ul li span {
                font-size: .9rem; }
      .main .all-matches .tab-content #accordion .card .matches-date {
        font-size: 1.2rem;
        line-height: 50px;
        height: 50px;
        padding-right: 10px;
        border-bottom: solid 1px #474747;
        color: #474747;
        font-weight: 500; }
      .main .all-matches .tab-content #accordion .card .card-header {
        border-bottom: 1px solid #dcdcdc;
        cursor: pointer; }
        .main .all-matches .tab-content #accordion .card .card-header .row {
          position: relative;
          font-size: 12px;
          line-height: 19px;
          min-height: 83px;
          padding: .5rem;
          border-radius: 5px;
          margin-bottom: .5rem; }
          .main .all-matches .tab-content #accordion .card .card-header .row:hover {
            background-color: rgba(0, 0, 0, 0.03); }
          .main .all-matches .tab-content #accordion .card .card-header .row .info {
            width: 380px;
            min-height: 80px;
            text-align: right;
            float: none; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .info {
                float: none; } }
            @media only screen and (min-width: 481.6px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .info {
                float: none; } }
            @media only screen and (min-width: 768px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .info {
                float: none; } }
            @media only screen and (min-width: 1000px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .info {
                float: right; } }
            @media only screen and (min-width: 1300px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .info {
                float: right; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .info h5, .main .all-matches .tab-content #accordion .card .card-header .row .info h6 {
              margin: 0;
              font-size: 1rem;
              line-height: 26px;
              color: #494949;
              font-weight: 400; }
            .main .all-matches .tab-content #accordion .card .card-header .row .info h5:first-child {
              font-weight: bold; }
          .main .all-matches .tab-content #accordion .card .card-header .row .content {
            margin-right: 0;
            position: relative;
            height: 5rem; }
            @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .content {
                margin-right: 0; } }
            @media only screen and (min-width: 481.6px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .content {
                margin-right: 0; } }
            @media only screen and (min-width: 768px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .content {
                margin-right: 0; } }
            @media only screen and (min-width: 1000px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .content {
                margin-right: 370px; } }
            @media only screen and (min-width: 1300px) {
              .main .all-matches .tab-content #accordion .card .card-header .row .content {
                margin-right: 370px; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
              position: absolute;
              right: 0;
              top: 1.5rem;
              width: 53px;
              border: 1px solid #e2e2e2; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
                  top: 1.5rem;
                  width: 53px; } }
              @media only screen and (min-width: 481.6px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 768px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 1000px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 1300px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a img {
                  top: 1rem;
                  width: 70px; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
              position: absolute;
              right: 4rem;
              top: 1.8rem;
              font-size: 1rem; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
                  right: 4rem;
                  font-size: 1rem; } }
              @media only screen and (min-width: 481.6px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
                  right: 6rem;
                  font-size: 1rem; } }
              @media only screen and (min-width: 768px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
                  right: 6rem;
                  font-size: 2rem; } }
              @media only screen and (min-width: 1000px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
                  right: 6rem;
                  font-size: 2rem; } }
              @media only screen and (min-width: 1300px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-a span {
                  right: 6rem;
                  font-size: 2rem; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .content .points {
              text-align: center;
              width: 100%;
              position: absolute;
              top: 1.8rem; }
              .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                font-size: 1rem;
                line-height: 26px;
                color: #dd4606; }
                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                  .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                    font-size: 1rem; } }
                @media only screen and (min-width: 481.6px) {
                  .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                    font-size: 1rem; } }
                @media only screen and (min-width: 768px) {
                  .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                    font-size: 27px; } }
                @media only screen and (min-width: 1000px) {
                  .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                    font-size: 27px; } }
                @media only screen and (min-width: 1300px) {
                  .main .all-matches .tab-content #accordion .card .card-header .row .content .points span {
                    font-size: 27px; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
              position: absolute;
              left: 4rem;
              top: 1.8rem;
              font-size: 1rem; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
                  left: 4rem;
                  font-size: 1rem; } }
              @media only screen and (min-width: 481.6px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
                  left: 6rem;
                  font-size: 1rem; } }
              @media only screen and (min-width: 768px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
                  left: 6rem;
                  font-size: 2rem; } }
              @media only screen and (min-width: 1000px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
                  left: 6rem;
                  font-size: 2rem; } }
              @media only screen and (min-width: 1300px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b span {
                  left: 6rem;
                  font-size: 2rem; } }
            .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
              position: absolute;
              left: 0;
              top: 1.5rem;
              width: 53px;
              border: 1px solid #e2e2e2; }
              @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
                  top: 1.5rem;
                  width: 53px; } }
              @media only screen and (min-width: 481.6px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 768px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 1000px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
                  top: 1rem;
                  width: 70px; } }
              @media only screen and (min-width: 1300px) {
                .main .all-matches .tab-content #accordion .card .card-header .row .content .team-b img {
                  top: 1rem;
                  width: 70px; } }

/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*	
**/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/eot/IRANSansWeb_Black.eot");
  src: url("../fonts/eot/IRANSansWeb_Black.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Black.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Black.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Black.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype"); }

@font-face {
  font-family: "icon";
  src: url("../fonts/icon.eot");
  src: url("../fonts/icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon.woff") format("woff"), url("../fonts/icon.ttf") format("truetype"), url("../fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal; }

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\61"; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important; }
  .header {
    display: none; }
  .footer {
    display: none; }
  .blog-sidebar {
    display: none; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15ms linear;
  -o-transition: opacity 0.15ms linear;
  transition: opacity 0.15ms linear; }

.fade.show {
  opacity: 1; }

.collapse {
  display: none; }

.collapse.show {
  display: block; }

tr.collapse.show {
  display: table-row; }

tbody.collapse.show {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden; }

.nav-tabs {
  border-bottom: 1px solid #dee2e6; }

.nav-tabs .nav-item {
  margin-bottom: -1px; }

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; }

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6; }

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff; }

.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }
